SKILL_LIBRARY_PORT=4010
SKILL_ENGINE_PORT=4020
SKILL_STORE_PORT=4030
SKILL_ALLOWED_ORIGINS=http://localhost:4030,http://127.0.0.1:4030
SKILL_INTERNAL_API_TOKEN=change-this-token
SKILL_ENV=development

